<%= render "/lists/navbar" %>
<%= render "/lists/banner" %>
<div class="container my-3">
  <% @lists.each do |list| %>
    <div class="my-2">
      <div class="d-flex justify-content-between">
        <%= link_to list_path(list) do %>
          <h2 class="font-rubik"><%= list.name %></h2>
        <% end %>
        <div class="d-flex">
          <%= link_to list_path(list) do %>
            <%= icon('fas', 'eye', class: "mr-4 h3") %>
          <% end %>
          <%= link_to list_path(list), method: "DELETE", data: { confirm: "Delete?" } do %>
            <%= icon('fas', 'trash', class: 'h3') %>
          <% end %>
        </div>
      </div>
      <% attached_img_url = list.photo.attached? ? (cl_image_path list.photo.key, width: 1000, crop: :fill, gravity: :face) : "" %>
      <div id="carouselMovieListControls-<%= list.id %>" class="carousel slide p-2 mb-4 rounded carousel-movie-base" data-interval="false" data-ride="carousel" style="background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= attached_img_url %>')">
        <div class="carousel-inner">
          <% list.movies.each_slice(4) do |s_movie| %>
            <div class="carousel-item <%= list.movies.first == s_movie[0] ? "active" : "" %>">
              <div class="cards">
                <% s_movie.each do |movie| %>
                  <% @movie = movie %>
                  <% @list = list %>
                  <%= render '/lists/moviecard' %>
                <% end %>
                <!-- Add empty card to prevent carousel from collapsing when resize the screen (to keep it 4x1 or 2x2)-->
                <% if s_movie.count < 4 %>
                  <% (4 - s_movie.count).times do %>
                    <div class="card-category card-category-bg invisible">
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev small-carousel-btn" href="#carouselMovieListControls-<%= list.id %>" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next small-carousel-btn" href="#carouselMovieListControls-<%= list.id %>" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  <% end %>
</div>
