<%= render "/lists/navbar" %>
<div class="container my-3">
  <h1>New List</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, input_html: { placeholder: "All time favorite" } %>
    <%= f.input :photo, as: :file, input_html: { accept: "image/*" } %>
    <%= f.submit class: "btn btn-warning font-rubik" %>
  <% end %>
</div>
