<%= render "/lists/navbar" %>
<% attached_img_url = @list.photo.attached? ? (cl_image_path @list.photo.key, width: 2000, crop: :fill, gravity: :face) : "https://source.unsplash.com/hR47GPQaZb0/1600x900" %>
<div class="banner banner-hover" style="background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= attached_img_url %>);">
  <div class="container">
    <h1 class="font-acme"><%= @list.name %></h1>
    <%= link_to "Add Bookmark", new_list_bookmark_path(@list) , class: "btn btn-warning mb-2 font-rubik" %>
  </div>
</div>
<div class="container my-3">
  <% @list.bookmarks.each do |bookmark| %>
    <% @movie = bookmark.movie %>
    <div class="card-product-base">
      <a href="" data-toggle="modal" data-target="#exampleModalCenter-<%= @list.id %>-<%= @movie.id %>">
        <div class="card-product">
          <img src="<%= bookmark.movie.poster_url %>">
          <div class="card-product-infos">
            <h2><%= bookmark.movie.title %></h2>
            <p><%= bookmark.comment %></p>
          </div>
        </div>
        <%= render 'lists/modalbox' %>
      </a>
      <%= link_to bookmark_path(bookmark), class: "card-product-icon", method: "DELETE", data: { confirm: "Delete?" } do %>
        <%= icon('fas', 'trash', class: "h5 m-2") %>
      <% end %>
    </div>
  <% end %>
</div>
