<%= render "/lists/navbar" %>
<div class="container my-3">
  <h1><%= @list.name %></h1>
  <%= link_to "Add Bookmark", new_list_bookmark_path(@list) , class: "btn btn-warning mb-3" %>
  <% @list.bookmarks.each do |bookmark| %>
    <% @movie = bookmark.movie %>
    <div class="card-product-base">
      <a href="" data-toggle="modal" data-target="#exampleModalCenter-<%= @list.id %>-<%= @movie.id %>">
        <div class="card-product">
          <img src="<%= bookmark.movie.poster_url %>">
          <div class="card-product-infos">
            <h2><%= bookmark.movie.title %></h2>
            <p><%= bookmark.comment %></p>
          </div>
        </div>
        <%= render 'lists/modalbox' %>
      </a>
      <%= link_to bookmark_path(bookmark), class: "card-product-icon", method: "DELETE", data: { confirm: "Delete?" } do %>
        <%= icon('fas', 'trash', class: "text-danger") %>
      <% end %>
    </div>
  <% end %>
</div>
